.about {
  position: relative;

  margin-top: -72px;
  padding-top: 302px;
  padding-bottom: 296px;
  overflow: hidden;
}

.about__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -981px;
    left: -362px;

    width: 956px;
    height: 1285px;

    background-image: url(../img/about__lines.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: -84px;
    left: 142px;

    width: 335px;
    height: 652px;

    background-image: url(../img/mobile.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about__wrapper {
  position: relative;

  width: 600px;
  margin-right: 60px;
  padding-left: 500px;

  &::before {
    content: "";
    position: absolute;
    right: -347px;
    bottom: -272px;

    width: 489px;
    height: 359px;

    background-image: url(../img/pulse__lines.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    right: -184px;
    bottom: -185px;

    width: 156px;
    height: 81px;

    background-image: url(../img/pulse.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.about__text {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.about__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.about__item {
  position: relative;

  margin-bottom: 16px;
  padding-right: 120px;
  padding-left: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 5px;
    height: 5px;

    background-color: #16afe0;
    border-radius: 50%;
  }
}

.about__button {
  padding: 22px 35px;
}
