.button {
  z-index: 1;

  display: inline-block;
  box-sizing: border-box;

  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  vertical-align: top;
  color: #ffffff;

  background-color: #e70067;
  border: none;
  border-radius: 50px;
  outline: none;

  &:focus,
  &:hover {
    background-color: #cf005d;
  }

  &:active {
    box-shadow: inset 0 3px 2px 0 #760a3a;
  }
}

.button--transparent {
  background-color: transparent;
  border: 2px solid #5489c3;

  &:focus,
  &:hover {
    color: #17519d;

    background-color: #ffffff;
    border-color: #ffffff;
  }

  &:active {
    background-color: #eaeaea;
    border-color: #eaeaea;
    box-shadow: none;
  }
}
