.capability {
  padding-top: 155px;
  padding-bottom: 121px;
  overflow: hidden;
}

.capability__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: -364px;
    bottom: -648px;

    width: 1920px;
    height: 1862px;

    background-image: url(../img/capability__lines.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    right: -91px;
    bottom: -3px;

    width: 611px;
    height: 608px;

    background-image: url(../img/mobiles.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.capability__title {
  margin: 0;
  margin-bottom: 89px;
  padding: 0;

  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #31496b;
}

.capability__list {
  width: 572px;
  margin: 0;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}

.capability__item {
  position: relative;

  margin-bottom: 79px;
}

.capability__number {
  position: absolute;
  top: 5px;
  left: -63px;

  font-weight: 500;
  font-size: 60px;
  line-height: 54px;
  color: rgba(35, 179, 226, 0.4);

  &::before {
    content: "";
    position: absolute;
    top: -38px;
    left: -47px;

    width: 102px;
    height: 125px;

    background-image: url(../img/capability-number.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.capability__name {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.capability__text {
  margin: 0;
  padding: 0;
}
