.page-header {
  margin: 0;
  padding: 0;
  padding-top: 15px;

  color: #ffffff;

  background-image: url('../img/slider__bg.png');
  background-repeat: no-repeat;
  background-position: top center;
}
