.page-footer {
  padding-top: 43px;

  background-color: #39649d;
}

.page-footer__copyright {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #e3e7f2;

  & a {
    color: #e70067;

    outline: none;

    &:focus,
    &:hover {
      border-bottom: 1px solid #e70067;
    }
  }
}
