.slider {
  position: relative;

  text-align: center;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 100px;

  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.slider__title {
  margin: 0;
  margin-bottom: 48px;
  padding: 0 200px;

  font-weight: 500;
  font-size: 24.02px;
  line-height: 36.04px;
}

.slider__button {
  margin-bottom: 211px;
  padding: 18px 31px;

  font-weight: 500;
  font-size: 16.02px;
  line-height: 24.02px;
  font-family: "Geometria", "Arial", sans-serif;
}

.slider__controls {
  position: absolute;
  bottom: 49px;
  left: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 14px;

  border: 1px solid #5489c3;
  border-radius: 14px;
  transform: translateX(-50%);
}

.slider__toggle {
  position: relative;

  display: block;
  width: 16px;
  height: 14px;
  margin: 0;
  margin-right: 8px;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #5489c3;
    transform: translateY(-50%);
  }

  &:hover:not(&--current)::before {
    background-color: #e70067;
  }

  &:last-child {
    margin-right: 0;
  }

  &--current::before {
    background-color: #ffffff;
  }
}
